#
# Package identity
#
PLUGIN_NAME="library-dompdf-dompdf"
PLUGIN_TYPE="LIBRARY"
PLUGIN_COMPOSER_PACKAGE="publishpress/dompdf-dompdf"
PLUGIN_SLUG="library-dompdf-dompdf"

#
# Git / GitHub
#
GITHUB_ACCESS_TOKEN="ghp_0000000000000000000000000000000000000000"
GIT_USER_NAME=""
GIT_USER_EMAIL=""

#
# Docker
#
CONTAINER_NAME="library-dompdf-dompdf"
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"
WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-7.1-php-8.5"
WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"
CACHE_PATH="./dev-workspace-cache"

#
# WordPress / Codeception test paths
#
WP_TESTS_ROOT_DIR="dev-workspace-cache/wp_test"
WP_TESTS_DB_URL="mysql://root:root@127.0.0.1:3352/wordpress"
WP_TESTS_DB_NAME="wordpress"
WP_TESTS_DB_HOST="127.0.0.1:3352"
WP_TESTS_DB_USER="root"
WP_TESTS_DB_PASSWORD="root"
WP_TESTS_TEST_TABLE_PREFIX="wp_"
WP_TESTS_TABLE_PREFIX="wp_"

WP_TESTS_HTTP_PORT="8055"
DB_TESTS_PORT="3352"
MAILHOG_WEB_PORT="8056"
MAILHOG_SMTP_PORT="8057"

WP_TESTS_URL="http://localhost:8055"
WP_TESTS_DOMAIN="localhost:8055"
WP_TESTS_ADMIN_PATH="/wp-admin"
WP_TESTS_ADMIN_USER="admin"
WP_TESTS_ADMIN_PASSWORD="admin"

LANG_LOCALES="ar cs_CZ da_DK de_DE el es_ES fa_IR fi fil fr_FR he_IL hu_HU id_ID it_IT ja ko_KR nl_NL pl_PL pt_BR pt_PT ro_RO ru_RU sv_SE th tr_TR vi yor zh_CN"
LANG_DOMAIN="dompdf-dompdf"
LANG_DIR="languages"
GENERATE_TRANSLATION_JSON="0"
